

<h4>Ballpark with dimensions 360, 360, 360</h4>
<ballpark [leftFieldLine]="360" [centerFieldLine]="360" [rightFieldLine]="360"></ballpark>

<h4>Ballpark with dimensions 300, 400, 300</h4>
<ballpark [leftFieldLine]="300" [centerFieldLine]="400" [rightFieldLine]="300"></ballpark>

<h4>Ballpark with dimensions 400, 360, 300</h4>
<ballpark [leftFieldLine]="400" [centerFieldLine]="360" [rightFieldLine]="300"></ballpark>

<h4>Ballpark with dimensions 300, 400, 380</h4>
<ballpark [leftFieldLine]="300" [centerFieldLine]="4010" [rightFieldLine]="380"></ballpark>